# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Go
backend/dist/
backend/bin/
*.exe

# Node / CDK
node_modules/
infrastructure/cdk.out/
infrastructure/*.js
infrastructure/*.d.ts
infrastructure/bin/*.js
infrastructure/bin/*.d.ts
infrastructure/lib/*.js
infrastructure/lib/*.d.ts

# Next.js
frontend/.next/
frontend/out/
frontend/.env.local

# Environment
.env
.env.*
!.env.example

# AWS CDK
cdk.context.json
